.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
}

.logo{
    background-color: #ff7f7f;
    height: 35px;
    float: left;
    width: 35px;
    animation-name: rotate-logo;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: linear;
}

@keyframes rotate-logo {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }